<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel = "stylesheet" href="/stylesheets/style.css" />
	<link rel = "stylesheet" href="/stylesheets/login.css" />
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src = "/javascripts/login.js"></script>
  </head>
  <body>
	<form class = "container">
		<table class = "appForm">
			<tr>
				<td>
					<input type = "number"
					class = "id"
					placeholder = "학번"
					required>
				</td>
				<td rowspan = "2">
					<button
					type="button"
					onclick = "Login()">
						Login
					</button>
				</td>

			</tr>
			<tr>
				<td>
					<input type = "password"
					class = "password"
					placeholder = "비밀번호"
					required>
				</td>
			</tr>
			<tr>
				<td class = "etc">
					<a href="/auth/registerPage">회원가입</a> / <a>비밀번호 찾기</a>
				</td>
			</tr>
  		</table>

  	</form>
  </body>
</html>
