<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/register.css' />
	<script src='/javascripts/register.js'></script>
  </head>
  <body>
   <form action="/" class="container">
	<p>회원정보</p>
	<table class="appForm">
  		<tr>
			<td>*</td>
			<td>이름</td>
			<td>
				<input type="text"
				class="name"
				required
				autofocus>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>*</td>
			<td>학번</td>
			<td>
				<input type="number"
				class="SID"
				pattern="\d{8}"
				required>
			</td>
			<td style="text-align:left;">
				<button type="button"
				onclick="SIDCheck()">
					중복검사
				</button>
			</td>
		</tr>
		<tr>
			<td>*</td>
			<td>패스워드</td>
			<td>
				<input type="password"
				class='pw'
				pattern=".{6,}"
				onchange="CheckPW()"
				required>
			</td>
			<td>
				<p class='len_err'>비밀번호는 6글자 이상만 사용가능합니다.</p>
			</td>
		</tr>
		<tr class='confirm'>
			<td>*</td>
			<td>패스워드 확인</td>
			<td>
				<input type="password"
				class='confirmPW'
				onchange="CheckConfirm()"
				required>
			</td>
			<td>
				<p class='confirm_err'></p>
			</td>
		</tr>
		<tr>
			<td>*</td>
			<td>연락처</td>
			<td>
				<input type="tel"
				pattern="(010)-\d{3,4}-\d{4}"
				placeholder="010-****-****"
				required>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>*</td>
			<td>학과</td>
			<td>
				<input type="text"
				placeholder="컴퓨터공학과"
				required>
			</td>
			<td></td>
		</tr>
  	</table><br/>

	<input type="submit"
	value="가입신청"
	class="commit"
	onclick ="Commit()">

  </form>
  </body>
</html>
